.Team{
    width: 100%;
    .teamP{
        position: relative;
        width: 200px;
        &::after{
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            width: 100px;
            background-color: #ffde9e;
            height: 2px;
        }
    }
}